@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display leading-tight;
  }
}

.expand-doc {
  max-height: 2000px;
  transition: max-height 0.5s ease-in-out;
}

.collapse-doc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}